.widget-jadwal .widget-jadwal-content{
	background-color: white;
	box-shadow: 0 2px 5px 1px rgb(64 60 67 / 24%);
}
.widget-jadwal .widget-jadwal-content-block h2{
    color: black;
}
.widget-jadwal .widget-jadwal-content-block h3{
    color: black; 
}
.widget-jadwal .widget-jadwal-content-block h4{
	color: black;
}
.widget-jadwal .widget-jadwal-content-block.clock h2{
    color: black;
}
.widget-jadwal .widget-jadwal-content-block.clock h4{
	color: black;
}
.swiper-slide{
	background-color: white;
	box-shadow: 0 2px 5px 1px rgb(64 60 67 / 24%);
}
.swiper-slide.effect{
	background-color: white;
}
.swiper-slide.effect:active{
	background-color: #e6e6e6;
}
.swiper-slide h4 {
    font-size: 20px;
    color: black;
}
.swiper-slide img{
	filter: invert(0%) sepia(28%) saturate(7485%) hue-rotate(343deg) brightness(79%) contrast(95%);
}
.table-jadwal-head{
    background-color: white;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 24%);
    z-index: 999;
}
.table-jadwal-head h2{
    color: black;
}
.table-jadwal-head img{
    filter: invert(0%) sepia(28%) saturate(7485%) hue-rotate(343deg) brightness(79%) contrast(95%);
}
.table-jadwal{
	box-shadow: 0 4px 4px 1px rgb(64 60 67 / 16%);
	z-index: 9999;
}
.table-jadwal th{
    background-color: white;
}
.loading-page img{
    filter: invert(0%) sepia(28%) saturate(7485%) hue-rotate(343deg) brightness(79%) contrast(95%);
}
.table-jadwal td, .table-jadwal th, .table-jadwal h4, .table-jadwal h2{
    color: black;
}
.table-jadwal tr:nth-child(odd){background-color: #f8f8f8;}
.table-jadwal tr:nth-child(even){background-color: #f2f2f2;}

