@keyframes loaded{
	0%{
		height: 100%;
		opacity: 1;
	}
	50%{
		height: 100%;
		opacity: 1;
		transform: scale(1);
	}
	100%{
		height: 100%;
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes loadingbar{
	0%{
		margin-left: 100%;
		margin-right: 0%;
	}
	40%{
		margin-left: 0%;
		margin-right: 0%;
	}
	80%{
		margin-left: 0%;
		margin-right: 100%;
	}
	100%{
		margin-left: 0%;
		margin-right: 100%;
	}
}	
.loading-screen{
	display: flex;
	position: fixed;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	padding-top: 50vh;
	background-color: white;
	z-index: 9999999;
	overflow: hidden;
	transition: 0s;
}
.loading-screen.loaded{
	height: 0%;
	animation: loaded 1s;	
	transition: 0s;
}
.loader-container{
	max-width: 240px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 6px;
	border-radius: 16px;
	background: #ecf0f4;
	overflow: hidden;
}
.loader-container-progress{
	width: 100%;
	height: 6px;
	border-radius: 16px;
	animation: loadingbar 1s infinite ease-in-out;
	background: #4285f4;
}
.loader-subtext{
	font-size: 16px;
	margin-top: 10px;
	color: #303841;
	font-weight: bold;
	max-width: 230px;
	text-align: center;
}