body{
	background-color: #111111;
}
.loading-screen{
	background-color: #1f1f1f;
}
.loader-subtext{
	color: #e1e1e1;
}
.navigation-bar{
	background-color: #343434 !important;
}
.swiper-slide{
    background-color: #838383;
}
.swiper-slide.effect{
	background-color: #343434;
}
.swiper-slide.effect:active{
	background-color: #6a6a6a;
}
.title h2{
    color: #e1e1e1;
}
.title h4{
    color: #e1e1e1;
}
.nb-button h2{
    color: #e1e1e1;
}
.nb-button h4{
    color: #e1e1e1;
}
.nb-button i{
    color: #e1e1e1;
}
.nb-button.effect:active{
    background-color: #6a6a6a;
}
.modal-content{
	background-color: #1f1f1f;
}
.mdl-button.effect:active{
    background-color: #6a6a6a;
}
.mdl-button h2{
    color: #e1e1e1;
}
.mdl-button h3{
    color: #e1e1e1;
}
.mdl-button h4{
    color: #e1e1e1;
}
.mdl-button i{
    color: #e1e1e1;
}
label{
	color: #e1e1e1 !important;
}
.modal-bar img.icon{
    filter: invert(100%) sepia(3%) saturate(4%) hue-rotate(287deg) brightness(105%) contrast(100%);
}
.table-jadwal-head{
    background-color: #343434;
}
.table-jadwal-head img{
    filter: invert(100%) sepia(3%) saturate(4%) hue-rotate(287deg) brightness(105%) contrast(100%);
}
.table-jadwal th{
    background-color: #343434;
}
.loading-page img{
    filter: invert(100%) sepia(3%) saturate(4%) hue-rotate(287deg) brightness(105%) contrast(100%);
}
.table-jadwal td, .table-jadwal th, .table-jadwal h4, .table-jadwal h2{
    color: white;
}

.table-jadwal tr:nth-child(odd){background-color: #121212;}
.table-jadwal tr:nth-child(even){background-color: #0c0c0c;}

.widget-jadwal{

}
.widget-jadwal .widget-jadwal-content{
    background-color: #343434;
}